<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Puppy</title>
  </head>
  <body>
    <h1>Create a Puppy</h1>
    <form action="/puppies" method="post">
      Name: <br>
      <input type="text" name='name'><br>
      Age: <br>
      <input type="text" name='age'><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
