<html>
<head>
  <meta charset="UTF-8">
  <title>Products w/ Factory</title>
  <script src='bower_components/angular/angular.js'></script>

  <script type='text/javascript'>
    var myApp = angular.module('myApp', []);

    //create Product Factory
    myApp.factory('productsFactory', function (){
      var products=[
        {first_name: 'Yukihiro', last_name: 'Matsumoto', language: 'Ruby'},
        {first_name: 'Ryan', last_name: 'Dahl,', language: 'JavaScript'},
        {first_name: 'Yukihiro', last_name: 'Eich', language: 'JavaScript'}
                    ];
      var factory {};

      factory.addProduct=function(){
        factory.products.push($scope.productModel);
        productModel = {};
        console.log("list products: ", $scope.products);
      }

      $scope.deleteProduct = function(productToDelete){
            $scope.products = $scope.products.filter( function(product){
              return product !== productToDelete;
           })
           console.log("delete product: " , productToDelete );
           console.log("list products: ", $scope.products);
      }
    })


    // create Product Conroller
    myApp.controller('productsController', function ($scope){
      $scope.products=[];
      $scope.addProduct=function(){
        $scope.products.push($scope.productModel);
        $scope.productModel = {};
        console.log("list products: ", $scope.products);
      }

      $scope.deleteProduct = function(productToDelete){
            $scope.products = $scope.products.filter( function(product){
              return product !== productToDelete;
           })
           console.log("delete product: " , productToDelete );
           console.log("list products: ", $scope.products);
      }
    })
  </script>
</head>

<body ng-app='myApp'>
  <div ng-controller='productsController'>
    <p>Products Controller<br></p>
    First Name
    <input type="text" name = 'first_name' ng-model='productModel.first_name'><br>
    Last Name
    <input type="text" name = 'last_name' ng-model='productModel.last_name'><br>
    Favorite Language
    <input type="text" name = 'language' ng-model='productModel.language'><br>

    <button type-'button'   ng-click ="addProduct()" >Create Product</button>
    <br>

  <div>
    <ul>
      <p></p>
      <li ng-repeat="product in products ">
        fn {{ product.first_name }}, ln {{ product.last_name }},  language {{ product.language }}
        <button type-'button'   ng-click ="deleteProduct(product)" >Delete Product</button>
        <br>
      </li>
    </ul>
  </div>
</body>
</html>
