<html>
<head>
  <meta charset="UTF-8">
  <title>Filters</title>
  <script src='bower_components/angular/angular.js'></script>

</head>
<body ng-app='myApp'>

  <div ng-controller='productsController'>
    <div ng-model='productModel'>
    <p>Products Controller</p>
    <br>
      Product Name
      <input type="text" name = 'name' ng-model='productModel.name'><br>
      Price
      <input type="text" name = 'price' ng-model='productModel.price'><br>



      <button type-'button'   ng-click ="addProduct(
      {
        name: productModel.name,
        price: productModel.price
      }
      )" >
      Create Product
      </button>
    <br>
    </div>
    <div>
    <table style="width:70%">
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    <trng-repeat="product in products ">
      <td >
        {{ product.name }}
      </td>
      <td>
        {{ product.price }}
      </td>
      <td>
        <button type-'button'   ng-click ="deleteProduct(product)" >Delete Product</button>
      </td>
    </tr>>
  </table>
  </div>

  <script type='text/javascript'>
    var myApp = angular.module('myApp', []);

    myApp.factory('productFactory',[$scope, 'productFactory',function($scope, 'productFactory' )]){

      var factory = {};

      var products =[
        {name: 'Keyboard', price: 'Matsumoto'},
        {name: 'Mouse', price: 'Dahl,'},
        {name: 'Vasketball', price: 'Eich'}
      ];

      var factory = {};

      factory.getProducts = function(callback){
        callback(products);
      }
    return factory;
    }

    myApp.controller('productsController', [$scope, 'productFactory',function($scope, 'productFactory' )]{

      $scope.students = [];

      $scope.addProduct=function(product){
        console.log("list products before: ", $scope.products);
        console.log("adding product: " , product );
        $scope.products.push(product);
        $scope.productModel = {};
        console.log("list products after: ", $scope.products);
      }

        $scope.deleteProduct = function(productToDelete){
            $scope.products = $scope.products.filter( function(product){
              return product !== productToDelete;
           })
           console.log("delete product: " , productToDelete );
           console.log("list products: ", $scope.products);
      }
    })



  </script>


</body>
</html>
