<html>
<head>
  <meta charset="UTF-8">
  <title>Filters</title>
  <script src='bower_components/angular/angular.js'></script>

</head>
<body ng-app='myApp'>


    <div ng-controller='productsController'>
      <div ng-model='productModel'>
      <p>Products Controller<br></p>
      Product Name
      <input type="text" name = 'name' ng-model='productModel.name'><br>
      Price
      <input type="text" name = 'price' ng-model='productModel.price'><br>



      <button type-'button'   ng-click ="addProduct(
        {name: productModel.name, price: productModel.price}
      )" >Create Product</button>
      <br>



      </div>
      <div>
      <ul>
        <li ng-repeat="product in products ">
          Product Name {{ product.name }}, Price {{ product.price }}
          <button type-'button'   ng-click ="deleteProduct(product)" >Delete Product</button>
          <br>
        </li>
      </ul>
    </div>

    <script type='text/javascript'>
      var myApp = angular.module('myApp', []);

      myApp.controller('productsController', function ($scope){
        $scope.products=[
          {name: 'Keyboard', price: 'Matsumoto'},
          {name: 'Mouse', price: 'Dahl,'},
          {name: 'Vasketball', price: 'Eich'}
                      ];
        $scope.addProduct=function(product){
          console.log("adding product: " , product );

          $scope.products.push(product);
          $scope.productModel = {};
          console.log("list products: ", $scope.products);
        }

          $scope.deleteProduct = function(productToDelete){
              $scope.products = $scope.products.filter( function(product){
                return product !== productToDelete;
             })
             console.log("delete product: " , productToDelete );
             console.log("list products: ", $scope.products);
        }
      })
    </script>

</body>
</html>
