<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Puppy</title>
  </head>
  <body>
    <h1>Display Puppy</h1>

    Name: <%= puppy.name%> <br>
    Age: <%= puppy.age%>
    <form action ="/" method='get'>
      <input type="submit" value="Return">
    </form>
  </body>
</html>
