<!DOCTYPE html>
<html lang="en" ng-app = 'app'>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src = 'bower_components/angular/angular.js'></script>

  <script>

  var app = angular.module('app', []);

  app.controller('foodController', function($scope){
    $scope.foods=["Steak",
                  "lobster"];

    $scope.addFood=function(food){
      console.log("adding food: ", food);

      $scope.foods.push(food);
      $scope.foodModel = '';
      console.log("list foods: ", $scope.foods);
    }
  });
  </script>
</head>


<body>
  <div ng-controller = "foodController">

    <p>
      Favorite Food
      <input type="text" ng-model = 'foodModel'>
      <button type-'button'   ng-click ="addFood(foodModel)" >Add Food</button>
      <br>


      <p>
      Currently Typing
      {{foodModel}}

    </p>

      <input type="text" ng-model='search' placeholder="filter...">
      <ul>list of foods
        <li ng-repeat="food in foods | filter:search ">
          {{food}}
        </li>
      </ul>



    </p>




</div> <!-- END OF general-Directive -->

</body>
</html>
